
.Main{
    height: 100rem;
    margin-bottom: 2%;
    background-color: black !important;
    
}

.background{
    max-height: 50%;
    width: 100%;
    position: relative;
    opacity: 0.5;
}

#logo{
    position: absolute;
    top: 12%;
    left: 3%;
    height: 2.8125rem;
    width: 10.4375rem;
}