
.Main{
    height: 105%;
    margin-bottom: 2%;
    background-color: black !important;
    
}

.background{
    height: 47rem;
    width: 100%;
    position: sticky;
    opacity: 0.5;
    
}

#background-cover{
    width: 100%;
    max-height: 100%;
    
}

#logo{
    position: absolute;
    top: 12%;
    left: 3%;
    height: 2.8125rem;
    width: 10.4375rem;
}

.top-buttons{
    color: #ffffff;
    position: absolute;
    top: 12%;
    right: 5%;
    font-family: NetflixSansNormal;
    font-size: .8rem;
    font-weight: normal;
    display: flex;
    gap:25%;
    
}

.lang-button{
    border: .05rem solid #ffffff;
    padding: .5rem;
    border-radius: .2rem;
    width: 7rem;
    text-align: center;
}

.login-ctn{
    border-radius: .2rem;
    padding: .5rem;
    background-color: #e50914;
}

.login-btn{
    width: 100%;
    height: 100%;
    background-color:#e50914 ;
    border: none;
    font-family: NetflixSansNormal;
    color: #ffffff;
    font-size: 1.1rem !important;
    cursor: pointer;
}

.centered-content{
    position: absolute;
    color: #ffffff;
    font-family:NetflixSansBold ;
    font-size: 2rem;
    top: 35%;
    left: 15%;
    border-bottom: 8px solid #222;
}

.test{
    font-weight: normal !important;
    font-size: 1.8rem;
    font-family: NetflixSansNormal !important;
    text-align: center;
    margin-top: 2%;
}

.form-title{
    font-weight: normal !important;
    font-size: 1.8rem;
    font-family: NetflixSansNormal !important;
    text-align: center;
    margin-top: 2%;
}

#input-form{
    width: 40rem;
    height: 4rem;
    margin-top: 2%;
    font-size: 1.3rem;
    border: none;
    
}

.email-form-lockup{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.letsgo-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    align-items: center;
    margin-top: 2%;
    font-family: NetflixSansNormal;
    font-size: 1.6rem;
    color: #ffffff !important;
    background-color: #e50914;
    border: none;
    cursor: pointer;
}

.letsgo-btn:hover{
    background-color: #fa0a16;
}

.tv-card-ctn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-height: 45rem;
    min-height: 30rem;
    width: 100%;
    color: #ffffff;
    border-bottom: 8px solid #222;
    font-family: NetflixSansNormal;
    font-size: 1.3rem;
    gap: 5%;
    
}
.tv-card-text{
    display: flex;
    flex-direction: column;
    text-align: left;
    
}


#tv-img {
    max-width: 100%;
    height: 22rem;
    
}


.tv1-card-video{
   margin-top: -59%;
   margin-left: 13%;
   height: 50%;
   width: 70%;
   display: block;
   object-fit: contain;

}


.all-devices-card-ctn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 40rem;
    width: 100%;
    color: #ffffff;
    border-bottom: 8px solid #222;
    font-family: NetflixSansNormal;
    font-size: 1.3rem;
    gap: 5%;
    
}

.all-devices-card-text{
    display: flex;
    flex-direction: column;
    text-align: left;
   
    
}

#tv-2-img{
    max-width: 100%;
    height: 30rem;
}

.tv2-card-video{
    margin-top: -70%;
    margin-left: 17%;
    height: 100%;
    width: 62%;
    display: block;
    object-fit: contain;
 
 }

.profils-for-kids-card-ctn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-height: 45rem;
    min-height: 30rem;
    width: 100%;
    color: #ffffff;
    border-bottom: 8px solid #222;
    font-family: NetflixSansNormal;
    font-size: 1.3rem;
    gap: 5%;
    
}

.profils-for-kids-card-text{
    display: flex;
    flex-direction: column;
    text-align: left;
   
    
}

.download-and-watch-card-ctn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-height: 45rem;
    min-height: 30rem;
    width: 100%;
    color: #ffffff;
    border-bottom: 8px solid #222;
    font-family: NetflixSansNormal;
    font-size: 1.3rem;
    gap: 5%;
}

.download-and-watch-card-text{
    display: flex;
    flex-direction: column;
    text-align: left;   
    
}








/* Media Queries */


@media only screen and (min-width: 300px) and (max-width: 599px){
    /* For mobile phones: */
   [class*="col-"] {
       width: 100%;
     }
  
     html{
      font-size: 7px !important;
      display: flex;
      width: 100%;
     }

     .centered-content{
        top: 17%;
        left: 0%;
     }

     .tv-card-ctn{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100rem;
     }
    
     #tv-img{
        width: 25rem;
        height: 20rem;
     }
     .tv1-card-video{
        width: 17rem;
        
     }

     .all-devices-card-ctn{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50rem;
        gap: 25%;
    
     }

     #tv-2-img{
        width: 25rem;
        height: 20rem;
     }
     
     .tv2-card-video{
        width: 17rem;
        
     }

     .profils-for-kids-card-ctn{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50rem;
        gap: 5%;
    
     }

    

  
   }
  
  
  
  @media only screen and (min-width: 600px) and (max-width: 899px){
   /* For tablets: */
   .col-s-1 {width: 8.33%;}
   .col-s-2 {width: 16.66%;}
   .col-s-3 {width: 25%;}
   .col-s-4 {width: 33.33%;}
   .col-s-5 {width: 41.66%;}
   .col-s-6 {width: 50%;}
   .col-s-7 {width: 58.33%;}
   .col-s-8 {width: 66.66%;}
   .col-s-9 {width: 75%;}
   .col-s-10 {width: 83.33%;}
   .col-s-11 {width: 91.66%;}
   .col-s-12 {width: 100%;}
  
   body{
     font-size: 12px;
   }

  }
  
  
  
  
  
  @media only screen and (min-width: 900px) {
   /* For desktop: */
   .col-1 {width: 8.33%;}
   .col-2 {width: 16.66%;}
   .col-3 {width: 25%;}
   .col-4 {width: 33.33%;}
   .col-5 {width: 41.66%;}
   .col-6 {width: 50%;}
   .col-7 {width: 58.33%;}
   .col-8 {width: 66.66%;}
   .col-9 {width: 75%;}
   .col-10 {width: 83.33%;}
   .col-11 {width: 91.66%;}
   .col-12 {width: 100%;}
  
   body{
     font-size: 15px;
   }
  
  }
  